<!DOCTYPE html>

<html lang="en">

<head>
    <title>HTML Template Element</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    <div id="container">
        <header>
            <h1><a href="https://simpl.info">simpl.info </a>HTML.Template.Element</h1>
        </header>

        <main>
            <p>This example demonstrates how to use the HTML <code>&lt;template&gt;</code> element.</p>

            <button id="add">Add Item</button>

            <ul id="itemList"></ul>

            <template id="itemTemplate">
                <li>Item</li>
            </template>
        </main>

        <footer>
            <a href="https://github.com/samdutton/simpl/blob/master/template/index.html" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
        </footer>

    </div>
</body>

</html>
